/*
 *    SLIDE 1
 */

.portada > .fp-tableCell {
    @extend %flex--center;
    @extend %cienxcien;
    @extend %flex--column;
    
    img {
        width: 50%;
        height: 50%;
    }
}    

.portada {
    @include background-image('fondo1.png');
    
    a {
        margin-top: 6rem;
        text-align: center;
        color: $white;
        background-color: $redIntense;
        width: 200px;
        padding: 1rem ;
        font-size: 1.2em;
        border-width: 0;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
    .fp-tableCell {
        max-width: 100%;
    }
}