/*
 *    PRESENTACION
 */
.presentacion {
    @include background-image('wall.jpg');
    .fp-tableCell {
        width: 100% !important;
        min-width: 100% !important;
    }
}

.sponsors {
    position: relative;
    top: calc(100vh - 184px);
    left: 0;
    width: 100%;
    height: 120px;
}

.opciones {
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    justify-content: flex-end;
    font-size: 1em;
}