/*
 *    SLIDES SETTINGS
 */
 
// Placeholder Selectors
%flex {
    display: flex !important;
}
%centerV {
    align-items: center;
}
%flex--center {
    //@extend %flex;
    justify-content: center;
    align-items: center;
}
%flex--column {
    flex-direction: column;
}
// Class
%cienxcien {
    width: 100%;
    height: 100% !important;
}
@mixin flex--row {
    flex-direction: row;
}
.text-center, h1, h2 {
    text-align: center;
}
// Slides default setting 
.section {
    background: {
        image: url('../img/pasto.png');
        repeat: no-repeat;
        position-y: calc(100vh - 150px);
    }
    @at-root #{&}_title {
        margin-top: 6rem;
        color: $colorTitle;
    }
}

.fp-tableCell {
    //display: flex !important;
    width: 90%;
    margin: 0 auto;
    @extend %flex;
    @extend %flex--column;
}

.content {
    @extend %flex;
    p {width: 76%;}
    img {width: 20%; height: 425px;}
    span{align-self: flex-end};
}
