/*
 *    RESET
 */

* {
    font-family: sans-serif;
}

a {
    color: $blue;
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

.modal.in .modal-dialog {
    z-index: inherit;
}